In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
tips=sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
round(tips['tip'].mean(), 3)  # 2.998

2.998

In [17]:
Edge_left=round(tips['tip'].mean()-3*tips['tip'].std(),3)
Edge_right=round(tips['tip'].mean()+3*tips['tip'].std(),3)
print(f"По правилу 3х Отклонений, те чаевые, которые находятся вне диапазона [{Edge_left} - {Edge_right}] - Это выбросы")
tips[(tips['tip']>Edge_right) | (tips['tip']<Edge_left)]

По правилу 3х Отклонений, те чаевые, которые находятся вне диапазона [-1.153 - 7.149] - Это выбросы

     total_bill    tip   sex smoker  day    time  size
23        39.42   7.58  Male     No  Sat  Dinner     4
170       50.81  10.00  Male    Yes  Sat  Dinner     3
212       48.33   9.00  Male     No  Sat  Dinner     4

In [19]:
from scipy.stats import sem
round(sem(tips['tip']), 3)  # 0.089

data_mean = round(tips['tip'].mean(), 3)
data_sem = round(sem(tips['tip']), 3)
print(f'Реальное среднее значение популяции оценивается в пределах от {data_mean + data_sem} до  {data_mean - data_sem}')

Реальное среднее значение популяции оценивается в пределах от 3.087 до  2.9090000000000003

In [20]:
import scipy.stats as st

st.norm.interval(confidence=0.95, loc=data_mean, scale=data_sem)

(2.8235632053759354, 3.172436794624065)

In [21]:
st.ttest_ind(tips[tips['sex'] == 'Male']['tip'], tips[tips['sex'] == 'Female']['tip'])

Ttest_indResult(statistic=1.387859705421269, pvalue=0.16645623503456755)